@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold">NASA Project Management</h1>

    <!-- Valores con guiones -->
    <section class="mt-5">
        <h1 class="mb-4 fw-bold">Values</h1>
        <div class="d-flex justify-content-center align-items-center flex-wrap gap-5 fs-2">
            <span class="value">Safety</span>
            <span class="dash">—</span>
            <span class="value">Integrity</span>
            <span class="dash">—</span>
            <span class="value">Inclusion</span>
            <span class="dash">—</span>
            <span class="value">Teamwork</span>
            <span class="dash">—</span>
            <span class="value">Excellence</span>
        </div>
    </section>


    <!-- Misión y Visión -->
    <section class="mt-5 row justify-content-center gap-5">
        <div class="col-md-4">
            <h4 class="fw-bold fs-3">Mission</h4>
            <p class="text-muted text-justify fs-5">
                NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery.
            </p>
        </div>
        <div class="col-md-4">
            <h4 class="fw-bold fs-3">Vision</h4>
            <p class="text-muted text-justify fs-5">
                NASA strives to reach new heights and reveal the unknown, extending human presence beyond Earth to benefit all humankind.
            </p>
        </div>
    </section>
</div>
