html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: #111;
}

.navbar-brand img {
    border-radius: 100%;
}

.navbar a, .navbar-brand span {
    font-weight: 500;
}

.btn-primary {
    background-color: #0033A0;
    border: none;
}

    .btn-primary:hover {
        background-color: #002080;
    }

.border-danger {
    border-width: 2px !important;
}
.text-justify {
    text-align: justify !important;
}
.dash {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.value {
    color: #000;
}
